/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

li {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: var(--text-color);
}

:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-left: 10rem;
    padding-right: 10rem;
}

/* NAVIGATION */
.navigation {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/* NAVLIST */
.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding-bottom: 4px;
}

/* NAV LIST BORDER */
.nav-list a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #000;

    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-list a:hover::after {
    width: 100%;
}

/* Cherk. */
.nav-logo {
    margin-right: auto;
    font-weight: 700;
    font-size: 1.5rem;
}

/* ABOUT */
.about {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.about-content {
    display: flex;
    gap: 5.5rem;
}

/* ABOUT FOTO */
.about-foto img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

/* ABOUT TEXT */
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    font-weight: 700;
}

.about-com {
    font-weight: 600;
    margin-bottom: 3rem;
}

/* ABOUT BTN */
.about-btn {
    font-size: 1.2rem;
    display: flex;
    gap: 1.5rem;
}

.btn-link button {
    border: 2px solid var(--link-color);
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.btn-link a {
    color: var(--link-color);
}

.btn-link button:hover {
 transform: translateY(-5px);
}

/* SKILLS */
.skills-title {
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-com {
    font-weight: 600;
}

/* SKILLS HR */
.skills-title hr {
    background-color: var(--text-color);
    height: 2px;
    width: 50px;
    margin-top: 0;
}

/* SKILL CARDS */
.skills-list {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.skill-card {
    border: 1px solid #cccccc;
    padding: 1rem 1rem;
    width: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    transition: transform 0.2s ease;
}

.skill-card img {
    width: 40px;
    height: auto;
}

.skill-card span {
    font-size: 1.2rem;
    font-weight: 600;
    align-self: center;
}

.skill-card:hover {
    background-color: rgb(230, 230, 230);
    transform: scale(1.1)
}

/* PROJECTS */
.projects {
    margin-top: 8rem;
}

.projects-title {
    padding-top: 5rem;
    font-weight: 600;
}

.projects hr {
    background-color: var(--text-color);
    height: 2px;
    width: 150px;
    margin-top: 0;
    margin-bottom: 4rem;
}

/* PROKECTS CARDS */
.projects-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.projects-card {
    border: 2px solid #cccccc;
    border-radius: 20px;
    padding: 1rem 1rem;
    height: 550px;
    width: 450px;
    transition: transform 0.2s ease;
}

.projects-card:hover {
    transition: 0.3s ease all;
    transform: scale(1.1);
}

.projects-card img {
    border: 2px solid #cccccc;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.card-title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-com {
    font-weight: 600;
    margin-bottom: 3rem;
}

.card-btn {
    border: 2px solid #cccccc;
    border-radius: 25px;
    padding: 0.5rem 0.5rem;
    width: 150px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}

.buttons {
    gap: 3rem;
    display: flex;
    justify-content: center;
}

.card-btn:hover {
    transition: 0.3s ease all;
    transform: scale(1.1);
}

/* FOOTER */
.social-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-link {
    font-size: 1.5rem;
    transition: transform 0.2s ease;
}

.social-link:hover {
    transition: 0.3s ease all;
    transform: translateY(-5%)
}

.footer p {
    font-size: 1.2rem;
}

/* MEDIA */

@media screen and (max-width: 1700px) {
    body {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .projects-card {
        width: 320px;
        height: 450px;
    }

    .projects-card img {
        height: 200px;
        width: 250px;
    }

    .card-btn {
        font-size: 1rem;
        font-weight: 800;
    }

    .buttons {
        gap: 1rem;
    }
}

@media screen and (max-width: 1400px) {
    .projects-cards {
        flex-direction: column;
        justify-self: center;
        gap: 2rem;
    }

    .projects-card {
        width: 500px;
        height: 550px;
    }

    .projects-card img {
        height: 300px;
        width: 450px;
    }

    .card-com {
        margin-bottom: 1rem;
    }

    .card-btn {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .buttons {
        gap: 5rem;
    }
}

@media screen and (max-width: 1100px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .navigation span {
        display: none;
    }
    
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-btn {
        justify-content: center;
    }

    .about-foto {
        display: flex;
        justify-content: center;
        order: -1;
    }
}


@media screen and (max-width: 600px) {
    .about-foto img {
        height: 300px;
        width: 300px;
        margin-bottom: 0;
    }

    .about-content {
        gap: 1rem;
    }
    
    
    .skills-list {
        gap: 0.5rem;
    }

    .skills-list span {
        display: none;
    }

    .projects-card {
        width: 300px;
        height: 500px;
    }

    .projects-card img {
        height: 200px;
        width: 250px;
    }

    .buttons {
        gap: 0.5rem;
    }

    .card-com {
        margin-bottom: 2rem;
    }
}